body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header, footer {
    background-color: #e64e4e;
    color: green;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

.recipe {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: green;
}

img {
    max-width: 100%;
    height: auto;
}
